{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 90,
  "semi": false,
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": false,
  "endOfLine": "lf"
}